---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// 
// Custom Variables
// --------------------------------------------------
$base-body-background:       #E4E4E4;
$base-body-color:            #4b4b4b;
$base-heading-color:         #4b4b4b;
$base-heading-font-weight:   500;

$utility-container-max-width:                  1200px;
$utility-container-large-max-width:            1200px;

$utility-container-padding-horizontal:         0;
$utility-container-large-padding-horizontal:   30px;

$navbar-background:          #fff;
$navbar-nav-height:          55px;
$navbar-nav-font-size:       15px;

$block-muted-background:     #f2f2f2;
$block-secondary-background: #1A1A1C;

$slidenav-previous-icon:     '‹';
$slidenav-next-icon:         '›';

$overlay-panel-background:   rgba(0,0,0,0.3);

$article-title-font-size:    30px;
$article-title-line-height:  36px;

//
// Mixins
// --------------------------------------------------

// Border-radius

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}


// Drop shadows

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
          box-shadow: $shadow;
}

//
// Core
// --------------------------------------------------

// Abstract
@import "uikit-mixins";
@import "core/variables";

// Defaults
@import "core/base";

// Layout
@import "core/grid";
@import "core/block";
@import "core/panel";
@import "core/article";
@import "core/cover";

// Navs
@import "core/nav";
@import "core/navbar";
@import "core/subnav";
@import "core/tab";

// Elements
@import "core/list";
@import "core/description-list";
@import "core/table";

// Common
@import "core/animation";
@import "core/overlay";
@import "core/column";

// JavaScript
@import "core/dropdown";
@import "core/switcher";
@import "core/offcanvas";

// Need to be loaded last
@import "core/text";
@import "core/utility";
@import "core/flex";
@import "core/contrast";

//
// Components
// --------------------------------------------------
@import "components/slidenav";
@import "components/slideshow";


html{
  background:#2A2B2B url("http://yootheme.com/demo/themes/joomla/2011/bigeasy/templates/yoo_bigeasy/images/background/dust_bg.jpg") repeat fixed;
  background-repeat: repeat;
}

body{
  background: url('http://yootheme.com/demo/themes/joomla/2011/bigeasy/templates/yoo_bigeasy/images/background/dust_img.jpg') 50% 0 no-repeat fixed; 
}

table{
  @extend .uk-table;
}
// uk-block
// --------------------------------------------------

#tm-wrapper{
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  background: #fff;
}

#tm-bg{
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #FFF);
  }
}

#tm-hero,
#tm-main,
#tm-footer{
  &.uk-block{
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: 768px){
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: 1200px){
      padding-left: 120px;
      padding-right: 120px;
    }
  }
}

#tm-hero{
  height: 480px;
}

#tm-main{
  // margin-top: -100px;
}

// tm-nav
// --------------------------------------------------

#tm-nav{
  z-index: 4;

  @media (min-width: 768px){
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: 1200px){
    padding-left: $block-large-padding-vertical-large;
    padding-right: $block-large-padding-vertical-large;
  }
}

// tm-nav-mobile
// --------------------------------------------------

#tm-nav-mobile{
  position: relative;
  box-sizing: border-box;
  padding: 15px 25px 20px;
  background: $block-secondary-background;
  z-index: 4;
}

// tm-header
// --------------------------------------------------

#tm-header-title{
  position: relative;
  z-index: 1;

  h1{
    font-size: 40px;
  }
}

// nav
.tm-header-logo{
  padding: 30px 25px 45px;
  background: $block-secondary-background;
}

.tm-toolbar{ 
  height: 40px;
  background: -webkit-linear-gradient(90deg, rgba($block-secondary-background, .6), transparent);
  background: -o-linear-gradient(90deg, rgba($block-secondary-background, .6), transparent);
  background: -moz-linear-gradient(90deg, rgba($block-secondary-background, .6), transparent);
  background: linear-gradient(90deg, rgba($block-secondary-background, .6), transparent);

  a{
    color: #fff;
    &:hover,
    &:focus {
      color: darken(#fff, 10%);
    }
  }
}

// Home Slider
// --------------------------------------------------
.tm-gradient{
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #FFF);
  }
}

.uk-slidenav-next,
.uk-slidenav-previous{
  &:before{
    font-family: "Lucida Console", Monaco, monospace;
  }
}

// Page
// --------------------------------------------------

.tm-page{
  position: relative;
  background: #fff;
  padding: $block-padding-vertical;

  @media (min-width: $breakpoint-medium){
    padding: $block-padding-vertical-large;

    .uk-article{
      margin-top: -210px;
    }
  }

  &.tm-home{
    background: transparent;
  }
}

// Collections
// --------------------------------------------------

.tm-collection-grid{
  img{
    width: 100px;
  }

  a:hover{
    text-decoration: none;
  }

  h4{
    margin-bottom: 0;
    color: #A69B87;
    text-transform: uppercase;
  }
  p { margin: 0; }
}

// Products
// --------------------------------------------------

$colors: (
  primer:   (#4D9DC8),
  emulsion: (#4D9DC8),
  acrylic:  (#F98E35)
  );

@each $color, $properties in $colors {
  .tm-text-#{$color} {
    text-transform: uppercase;
    font-size: 12px;
    color: nth($properties, 1);
  }
}

// Colors
// --------------------------------------------------
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.color-grid {
  padding: 0;
  margin: 0;
  list-style: none;

  > li{
    float: left;
    width: (100% / 18);
    height: 60px;
    padding: 1px;
    box-sizing: border-box;

    > a.color-trigger {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

// Utility
// --------------------------------------------------

.tm-padding-horizontal-remove{
  padding-left: 0;
  padding-right: 0;

  &.uk-nav > li > a{
    padding-left: 0;
    padding-right: 0;
  }
}


//
// Panels
// --------------------------------------------------

$panel-bg:               #fff;
$panel-border:           #ddd;
$panel-border-radius:    4px;
$panel-body-padding:     15px;
$panel-heading-padding:  10px 15px;
$panel-footer-padding:   $panel-heading-padding;
$panel-heading-bg:       #f5f5f5;
$panel-footer-bg:        $panel-heading-bg;


// Base class
.panel {
  margin-bottom: 20px;
  background-color: $panel-bg;
  border: 1px solid $panel-border;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

// Panel contents
.panel-body {
  padding: $panel-body-padding;
}

.panel-body-menu {
  padding: 10px 0;
}

// Optional heading
.panel-heading {
  background: $panel-heading-bg;
  padding: $panel-heading-padding;
  border-bottom: 1px solid $panel-border;
  @include border-top-radius(($panel-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-top: 1px solid $panel-border;
  @include border-bottom-radius(($panel-border-radius - 1));
}
