---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 
// Custom Variables
// --------------------------------------------------
$base-body-color:            #666;
$base-heading-color:         #333;
$base-heading-font-weight:   500;

$navbar-nav-height:          50px;

$block-muted-background:     #f2f2f2;

$slidenav-previous-icon:     '‹';
$slidenav-next-icon:         '›';


//
// Core
// --------------------------------------------------

// Abstract
@import "uikit-mixins";
@import "core/variables";

// Defaults
@import "core/base";

// Layout
@import "core/grid";
@import "core/block";

// Navs
@import "core/navbar";
@import "core/subnav";

// Elements
@import "core/list";

// Common
@import "core/animation";
@import "core/overlay";

// JavaScript
@import "core/dropdown";

// Need to be loaded last
@import "core/text";
@import "core/utility";
@import "core/flex";

//
// Components
// --------------------------------------------------

@import "components/slidenav";
@import "components/slideshow";


// 
// Custom Style
// --------------------------------------------------

.tm-header-logo{
	padding: 30px 20px 40px;
	background: $block-secondary-background;
}

.tm-toolbar{ height: 40px; }

.tm-home{
	position: relative;
	margin-top: -130px;
}

.tm-slider{
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 250px;
		position: absolute;
		bottom: 0;
		background: linear-gradient(rgba(0, 0, 0, 0), #FFF);
	}
}

.uk-slidenav-next,
.uk-slidenav-previous{
	&:before{
		font-family: "Lucida Console", Monaco, monospace;
	}
}
