---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 
// Custom Variables
// --------------------------------------------------

$navbar-nav-height:    50px;


//
// Core
// --------------------------------------------------

// Abstract
@import "uikit-mixins";
@import "core/variables";

// Defaults
@import "core/base";

// Layout
@import "core/grid";
@import "core/block";

// Navs
@import "core/navbar";
@import "core/subnav";

// Common
@import "core/animation.scss";

// JavaScript
@import "core/dropdown";

// Need to be loaded last
@import "core/text";
@import "core/utility";
@import "core/flex";

//
// Components
// --------------------------------------------------

@import "components/slidenav";
@import "components/slideshow";


// 
// Custom Style
// --------------------------------------------------

.tm-header-logo{
	padding: 30px 20px 40px;
	background: $block-secondary-background;
}

.tm-toolbar{ height: 40px; }

.tm-home{
	position: relative;
	margin-top: -130px;
}