---
layout: default
title: Color Creations
---

<div class="block block-featured bg-hero-colors">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<p class="lead">50 χρόνια στην παραγωγή επιστρώσεων</p>
	</div>
</div>

<div class="block">
	<div class="container">

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18  %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 18 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 18 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 36 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 36 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 54 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 54 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 72 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 72 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 90 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 90 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 108 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 108 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 126 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 126 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 144 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 144 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 162 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 162 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 180 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 180 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 198 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 198 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 216 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 216 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 234 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 234 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

		<!-- Nav tabs -->
		<ul class="color-grid" role="tablist">
			{% for color in site.data.colors.creations limit: 18 offset: 252 %}
			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>
			{% endfor %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
			{% for color in site.data.colors.creations limit: 18 offset: 252 %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>
		
	</div>
</div>