---
layout: default
title: Color Creations
---

<div class="block block-featured bg-hero-colors">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<p class="lead">50 χρόνια στην παραγωγή επιστρώσεων</p>
	</div>
</div>


<div class="block block-lg">
	<div class="container">

		{% for color in site.data.colors.creations %}

		{% capture modulo %}{{ forloop.index0 | mod:18 }}{% endcapture %}

		{% if modulo == '0' or forloop.first %}
		<ul class="color-grid" role="tablist">
			{% endif %}

			<li role="presentation" style="background-color: rgb({{ color.rgb }});">
				<a href="#{{ color.code }}" aria-controls="{{ color.code }}" role="tab" data-toggle="tab"><span class="sr-only">{{ color.title }}</span></a>
			</li>

			{% if modulo == '17' or forloop.last %}
		</ul>
		{% endif %}

		{% endfor %}

		<div class="tab-content">
			{% for color in site.data.colors.creations  %}
			<div role="tabpanel" class="tab-pane color-description" id="{{ color.code }}" style="background-color: rgb({{ color.rgb }});">
				<button type="button" class="close close-tab" data-dismiss="tab-pane" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="color-title">{{ color.title }}</h3>
				<p>{{ color.content }}</p>
			</div>
			{% endfor %}
		</div>

	</div>
</div>