---
layout: default
title: Wood
header: Ξύλινες Επιφάνειες
lead: Προϊόντα για βαφή εσωτερικών και εξωτερικών επιφανειών
---

{% include sub-header.html %}

<div class="block">
	<div class="container">
		
		{% assign products = site.categories.wood | sort: 'weight' %}
		
		<h3 class="block-title">Βερνικοχρώματα</h3>
		<div class="block-subtitle">Κορυφαίας ποιότητας</div>
		
		{% include product-list.html %}

		<hr class="separator">
		
		{% assign products = site.categories.primer-wood | sort: 'weight' %}

		<h3 class="block-title">Αστάρια βερνικοχρωμάτων</h3>
		<div class="block-subtitle">Κορυφαίας ποιότητας</div>
		
		{% include product-list.html %}

	</div>
</div>