<footer class="block site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h5>Εταιρεία</h5>
				<ul class="nav">
					<li><a href="about-us.html">Ποιοι είμαστε</a></li>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h5>Επικοινωνία</h5>
				<p>
					27 χλμ. Π.Ε.Ο. Αθηνών – Θηβών,<br>
					196 00 Μάνδρα, Αττικής<br><br>
					<strong>Τηλ</strong>.: 210 55 56 691-2, 210 55 56 696-7<br>
					<strong>Fax</strong>: 210 55 56 610<br>
					<strong>e-mail</strong>: sales@vernilac.gr
				</p>
			</div>
			<div class="col-sm-4">
				<h5>Υποκ. Θεσσαλονίκης</h5>
				<p>
					ΚΩΝΣΤΑΝΤΙΝΟΥΠΟΛΕΩΣ 12,<br> 
					ΑΓΡ. ΠΕΡΙΟΧΗ ΔΙΑΒΑΤΩΝ,<br>
					ΘΕΣ/ΝΙΚΗ 546 28, Τ.Θ. 1538<br><br>
					<strong>Τηλ.</strong>: 2310 789840-41, 2310 789831,<br>
					<strong>Fax</strong>: 2310 789849
				</p>
			</div>
		</div>
	</div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ "./bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">

	$("body").on("click", '.close-tab', function(e) {
		e.preventDefault();
		console.log(e);
		$(this).parent().remove();
		return false;
	});

	$('.color-grid > li > a').click(function () {
		var $this= $(this),
			$colorGrid = $this.closest(".color-grid"),
			id = $this.attr("href"),  // #A1
			$color = $(id).clone(),
			$siblings = $colorGrid.siblings();

		$siblings.filter(".color-description").remove();
		$color.insertAfter($colorGrid);
	});

	

	$.fn.contrastColor = function() {
		return this.each(function() {
			var bg = $(this).css('background-color');
	//use first opaque parent bg if element is transparent
	if(bg == 'transparent' || bg == 'rgba(0, 0, 0, 0)') { 
		$(this).parents().each(function(){
			bg = $(this).css('background-color')
			if(bg != 'transparent' && bg != 'rgba(0, 0, 0, 0)') return false; 
		});
		//exit if all parents are transparent
		if(bg == 'transparent' || bg == 'rgba(0, 0, 0, 0)') return false;
	}
	//get r,g,b and decide
	var rgb = bg.replace(/^(rgb|rgba)\(/,'').replace(/\)$/,'').replace(/\s/g,'').split(',');
	var yiq = ((rgb[0]*299)+(rgb[1]*587)+(rgb[2]*114))/1000;
	if(yiq >= 128) $(this).removeClass('light-color');
	else $(this).addClass('light-color');
});
	};

	$('.color-description').contrastColor();

</script>


