<div id="tm-slideshow" class="tm-gradient uk-slidenav-position" data-uk-slideshow="{autoplay:true, animation: 'scroll'}">
	<ul class="uk-slideshow">
      <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-02.jpg"></li>
      <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-03.jpg"></li>
      <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-04.jpg"></li>
      <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-05.jpg"></li>
      <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-06.jpg"></li>
      <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-07.jpg"></li>
	    <li><img src="{{ site.baseurl }}/img/inspiration/inspiration-08.jpg"></li>
	</ul>
	<a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
    <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
</div>