<div class="uk-block">
  <div class="uk-container uk-container-center">
    <article class="uk-article">
      <header>
        <h1 class="uk-article-title">{{ products.header }}</h1>
        <p class="uk-article-lead">{{ products.lead }}</p>
      </header>
      <hr class="uk-article-divider" />
      <div class="uk-grid">
        {% for paint in products.data %}
          <div class="uk-width-1-2 tm-products">
            <div class="uk-grid">
              <div class="uk-width-medium-1-3">
                <img src="img/products/{{ paint.thumbnail }}" alt="{{ paint.title }} {% if subtitle %}{{ subtitle }}{% endif %}">
              </div>  
              <div class="uk-width-medium-2-3">
                <h3 class="tm-product-title">{{ paint.title }}</h3>
                {% if paint.subtitle != null %}
                  <p class="tm-product-subtitle tm-text-{{ paint.category }}">{{ paint.subtitle }}</p>
                {% endif %}
                <p class="tm-product-description">{{ paint.description }}</p>
              </div>  
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
</div>