<div class="row">
	{% for post in products %}
	{% assign subtitle = post.subtitle %}
	<div class="col-sm-6 products">
		<div class="row">
			<div class="col-sm-4">
				<img src="img/{{ post.thumbnail }}" class="img-responsive" alt="{{ post.title }} {% if subtitle %}{{ subtitle }}{% endif %}">
			</div>	
			<div class="col-sm-8">
				<h3 class="product-title">{{ post.title }}</h3>

				{% if subtitle %}
				<p class="product-subtitle text-{{ post.categories }}">{{ subtitle }}</p>
				{% endif %}

				<p>{{ post.content }}</p>
			</div>	
		</div>
	</div>	
	{% endfor %}
</div>
