{% for paint in products %}

{% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}

	{% if modulo == '0' or forloop.first %}
	<div class="uk-grid">
	{% endif %}

		<div class="uk-width-medium-1-2 tm-products">
			<div class="uk-grid">
				<div class="uk-width-medium-1-3">
					<img src="img/products/{{ paint.thumbnail }}" alt="{{ paint.title }} {% if subtitle %}{{ subtitle }}{% endif %}">
				</div>	
				<div class="uk-width-medium-2-3">
					<h3 class="tm-product-title">{{ paint.title }}</h3>
					{% if paint.subtitle != " " %}
						<p class="tm-product-subtitle tm-text-{{ paint.category }}">{{ paint.subtitle }}</p>
					{% endif %}
					<p class="tm-product-description">{{ paint.description }}</p>
				</div>	
			</div>
		</div>
	
	{% if modulo == '1' or forloop.last %}
	</div>
	{% endif %}

{% endfor %}
