<div class="uk-block">
	{% if page.url == "/products.html" %}
		<h3 class="uk-text-center uk-margin-large-bottom uk-h2">Δημοφιλέστερα προϊόντα:</h3>
	{% else %}
		<h3 class="uk-text-center uk-margin-large-bottom">Δείτε επίσης στην κατηγορία:</h3>
	{% endif %}
	<div data-uk-slideset="{default: 2, medium: 4, animation: 'scale', duration: 100}">
		<div class="uk-slidenav-position">
			<ul class="uk-grid uk-slideset">
				{% for product in related-products %}
					<div>
						<a class="uk-display-block" href="{{ product.url | prepend: site.github.url }}">
							<img src="{{ product.image_path | prepend: site.github.url }}" alt="{{ product.title }}">
						</a>
						<p class="uk-text-center uk-text-bold">{{ product.title }}</p>
					</div>
				{% endfor %}
			</ul>
			<a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
			<a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
		</div>
	</div>
</div>
