<div id="tm-nav" class="uk-visible-large uk-position-top">
  <div class="uk-flex uk-flex-bottom">
    <a class="tm-header-logo" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.svg" width="240"></a>
    <div class="uk-width-3-4">
      <div class="tm-toolbar">
        <ul class="uk-subnav uk-subnav-line uk-margin-remove">
          {% for item in site.data.menu.secondary-menu %}
            {% if item.text != "Πολιτική απορρήτου" and item.text != "Όροι και προϋποθέσεις" %}
            <li><a href="{{ item.url | prepend: site.baseurl }}">{{ item.text }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
          {% for nav in site.data.nav %}
            {% if nav.subcategories != null %}
            <li class="uk-parent {% if nav.url == page.url %}uk-active{% endif %}" data-uk-dropdown="{justify:'#tm-nav'}" >
              <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
              <div class="uk-dropdown uk-dropdown-width-4 uk-dropdown-navbar">
                <div class="uk-grid uk-dropdown-grid">
                  <div class="uk-width-1-4">
                    <img src="/img/menu/img_products.jpg">
                  </div>
                  {% for subcategory in nav.subcategories %}
                    {% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}
                    {% if modulo == '0' or forloop.first %}
                    <div class="uk-width-1-4">
                      <ul class="uk-nav uk-nav-navbar">
                      {% endif %}
                        <li><a href="{{ subcategory.url | prepend: site.baseurl }}">{{ subcategory.title }}</a></li>
                      {% if modulo == '1' or forloop.last %}
                      </ul>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </li>
            {% else %}
            <li class="uk-parent {% if nav.url == page.url %}uk-active{% endif %}">
              <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="uk-navbar-flip uk-navbar-content">
          <img src="{{ site.baseurl }}/img/vernilac.jpg" width="50"></a>
        </div>
      </nav>
    </div>
  </div>
</div>