---
layout: default
title: Wood
header: Ξύλινες Επιφάνειες
lead: Προϊόντα για βαφή εσωτερικών και εξωτερικών επιφανειών
---

{% include sub-header.html %}

<div class="block">
	<div class="container">
		
		{% assign products = site.data.wood.enamel %}

		<h2 class="text-info block-heading">Βερνικοχρώματα <small>Κορυφαίας ποιότητας</small></h2>
		
		{% include product-list.html %}

		{% assign products = site.data.wood.primer %}

		<h2 class="text-supplementary block-heading">Αστάρια βερνικοχρωμάτων <small>Κορυφαίας ποιότητας</small></h2>

		{% include product-list.html %}

	</div>
</div>