// = Basic styling
// --------------------------------------------------------------


body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


// = Button styling
// --------------------------------------------------------------

.btn-outline, .btn-outline:hover{
	background-color: rgba(0, 0, 0, 0);
	border-radius: 40px;
	border-color: #fff;
	color: #fff;
}

// = Text
// --------------------------------------------------------------

$text-supplementary-color:	#6E2089;
$text-zen-color: 			#A27B54;


.title-lg {
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin-top: -190px;
}

.lead{
	font-size: 17px;
	font-weight: normal;
}

.text-supplementary{
	color: $text-supplementary-color;
}

.text-zen{
	color: $text-zen-color;

	small{
		color: darken($text-zen-color, 25%);
	}
}