$bgc-block:	#47454B;
$bgc-teaser:	rgba(28, 149, 150, 0.8);

@mixin bg-block-featured (){
	background-color: $bgc-block;
	background-size: cover;
	color: #fff;
	text-align: center;

	h1, h2, h3{
		color: inherit;
	}
}


// = Site Masthead
// --------------------------------------------------------------

.masthead{
	margin-top: $navbar-height;
	padding: 100px 0;
	text-align: center;
	background-position: 50%;

	@include bg-block-featured;

	@media (min-width: $screen-md-min){
		padding: 200px 0;
	}

	h1{

		@media (min-width: $grid-float-breakpoint){
			font-size: 42px;
			line-height: 52px;
		}
	}
}


.teaser{
	background-color: $bgc-teaser;
	width: 80%;
	margin: 0 auto;
	padding: 1px;
	color: #fff;
	text-align: center;

	@media (min-width: $screen-md-min){
		width: 50%;
	}

	h1, h2, h3{
		color: inherit;
	}
}

// = Block Styling
// --------------------------------------------------------------


.block{
	padding: 60px 0;
	background-position: 50%;

	.block-title, .block-subtitle{
		text-align: center;
	}

	.block-subtitle{
		font-size: 16px;
		margin-bottom: 50px;
	}
}

// Image parallax backgrounds

.block-parallax{
	background-attachment: scroll;

	@media (min-width: $grid-float-breakpoint){
		background-attachment: fixed;
	}
}

// Block featured

.block-featured{
	padding: 100px 0;
	@include bg-block-featured;
}

// Image backgrounds

.bg-hero-home{
	background-image:url("/img/hero-home.jpg");
}

.bg-hero-factory{
	background-image:url("/img/hero-factory.jpg");
}

.bg-hero-emulsion{
	background-image:url("/img/hero-emulsion.jpg");
}

.bg-hero-acrylic{
	background-image:url("/img/hero-acrylic.jpg");
}

.bg-hero-primer{
	background-image:url("/img/hero-primer.jpg");
}

.bg-hero-wood{
	background-image:url("/img/hero-wood.jpg");
}

.bg-hero-metal{
	background-image:url("/img/hero-metal.jpg");
}

.bg-parallax{
	background-image:url("/img/bg-parallax.jpg");
}


// = Adjustment margins
// --------------------------------------------------------------

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-bottom: $grid-gutter-width / 2;
}
.mg-md{
	margin-bottom: $grid-gutter-width;
}
.mg-lg{
	margin-bottom: $grid-gutter-width * 2;
}


// = Navbar fixed
// --------------------------------------------------------------

.navbar-fixed-top + *{
	margin-top: $navbar-height;
}

// = Article
// --------------------------------------------------------------

article{

	font-size: 15px;

	p,
	p.lead{
		margin-bottom: $line-height-computed * 1.5;
	}
}


// = Site Footer
// --------------------------------------------------------------

.site-footer{
	background-color: #f5f5f5;

	a{
		color: $text-color;
	}

	.nav > li > a{
		padding: 10px 0;

		&:hover{
			background-color: transparent;
			color: darken($text-color, 15%);
		}
	}
}

