// = Product list
// --------------------------------------------------------------

.products{
	margin-bottom: 80px;
	min-height: 150px;

	.product-subtitle{
		font-size: 12px;
		letter-spacing: 0.065em;
		text-transform: uppercase;
		font-weight: 700;
	}

	.product-title{
		font-size: 19px;
	}
}

.text-emulsion, .text-primer{
	color: $state-info-text;
}

.text-acrylic{
	color: $state-warning-text;
}

hr.separator{
	margin-bottom: 80px;
}


// = Color Grid
// --------------------------------------------------------------

$color-grid-mg: .5%;

.color-grid {
	padding: 0;
	margin: 0 0 $color-grid-mg;
	list-style: none;

	@include clearfix;

	> li{
		float: left;
		width: 5%;
		height: 50px;

		+ li{
			margin-left: $color-grid-mg;
		}

		> a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.color-description{
	width: 925.696px;
	padding: 20px;
	margin-top: - $color-grid-mg;

	.color-title{
		margin: 0 0 20px;
	}

	// Change font color based on background js script
	&.light-color{
		color: #fff;

		h1, h2, h3{
			color: inherit;
		}
	}
}


// = Home Categories
// --------------------------------------------------------------

.cat-title{
	font-size: 15px;
}